* {
	margin: 0;
	box-model: border-box;
}

html {
	font-family: Segoe UI, Tahoma, sans-serif;
}

body {
	width: 90%;
	height: 100%;
	margin: 0 5% 0 5%;
}

h1 {
	margin-top: 5px;
}

h2 {
	margin-top: 20px;
	margin-bottom: 10px;
}

h3 {
	margin-top: 10px;
	margin-bottom: 5px;
}

table, table * {
	border: 1px solid black;
	border-collapse: collapse;
}

span.error {
	color: #e64a19;
}

fieldset * {
	margin: 5px;
}