@(warning: String)

@main("studentsApp - Neues Ergebnis hinzufügen"){
	<h1>Neues Ergebnis hinzufügen</h1>
	
	@if(warning.length() != 0) {
		<p>Ein Fehler ist aufgetreten, das Ergebnis muss neu angelegt werden: <span class="error">@warning</span></p>
	}
	
	<form action="@routes.ResultCtrl.addResult()" method="post">
		<fieldset>
			<legend>Neues Ergebnis anlegen</legend>
			Name: <input name="name" type="text" required><br>
			Note: <input name="grade" type="text" required><br>
			ECTS: <input name="ects" type="text" required><br>
			Zugehöriges Modul auswählen: 
			<select name="module" required>
				@for(module <- models.Module.all()) {
					<option value="@module.id">@module.name</option>
				}
			</select><br>
			<button type="submit">Ergebnis zu Modulgruppe hinzufügen</button>
		</fieldset>
	</form>
	
	<p><a href="/">zurück zur Startseite</a></p>
}