@(warning: String, module: Module)

@main("studentsApp - Modulgruppe löschen"){
	<h1>Modulgruppe @module.getName() löschen</h1>
	
	@if(warning.length() != 0) {
		<p>Ein Fehler ist aufgetreten: @warning</p>
	}
	
	<form action="@routes.ModuleCtrl.deleteModule()" method="post">
		<p>Löschen bestätigen</p>
		<input type="radio" name="delMod" value="@module.id" id="confirm" required><label for="delMod">@module.getName() löschen</label><br>
		<button type="submit">Modulgruppe löschen</button>
	</form>
	
	<p><a href="/editmodule">zurück zur Auwswahl des Bearbeitungsmodus</a></p>
	<p><a href="/">zurück zur Startseite</a></p>
}