@(warning: String, module: Module)

@main("studentsApp - Modulgruppe löschen"){
	<h1>Modulgruppe @module.getName() löschen</h1>
	
	@if(warning.length() != 0) {
		<p>Ein Fehler ist aufgetreten: <span class="error">@warning</span></p>
	}
	
	<form action="@routes.ModuleCtrl.deleteModule()" method="post">
		<p>Löschen von @module.getName() bestätigen</p>
		<button type="submit" name="delMod" value="@module.id">Modulgruppe löschen</button>
	</form>
	
	<p><a href="/editmodule">zurück zur Auswahl des Bearbeitungsmodus</a></p>
	<p><a href="/">zurück zur Startseite</a></p>
}