@(warning: String, result: ExamResult)

@main("studentsApp - Ergebnis bearbeiten"){
	<h1>Modulgruppe @result.name bearbeiten</h1>
	
	@if(warning.length() != 0) {
		<p>Ein Fehler ist aufgetreten: @warning</p>
	}

	<form action="@routes.ResultCtrl.editResult()" method="post">
		<fieldset>
			<legend>Ergebnit @result.name bearbeiten</legend>
			Name: <input name="name" type="text" placeholder="@result.getName()"><br>
			Note: <input name="grade" type="text" placeholder="@result.grade"><br>
			ECTS: <input name="ects" type="text" placeholder="@result.ects"><br>
			Zugehöriges Modul ändern: 
			<select name="module" required>
				@for(module <- models.Module.all()) {
					<option value="@module.id">@module.name</option>
				}
			</select><br>
			<button type="submit" name="editResult" value="@result.id">Änderungen sichern</button>
		</fieldset>
	</form>
	
	<p><a href="/">zurück zur Startseite</a></p>
}